body {
    /* cursor: url(assets/Chimken_32x32.png), auto !important; */
    background-image: url(assets/Chimken-removebg-preview.png);
    background-repeat: no-repeat;
}

.test {
    cursor: url(assets/Chimken-removebg_60x34.png), auto;
}
